.vscode/

blasr/og.sam
ecoli_data/freq.txt
ecoli_data/sl_align.sam
ecoli_data/sl_raw_align.txt
ecoli_data/SRR10971019.fasta
ecoli_data/SRR10971019_sub.fasta
ecoli_data/SRR10971019_sub.fasta.amb
ecoli_data/SRR10971019_sub.fasta.ann
ecoli_data/SRR10971019_sub.fasta.bwt
ecoli_data/SRR10971019_sub.fasta.pac
ecoli_data/SRR10971019_sub.fasta.sa
ecoli_data/SRR13921543_1.fastq
ecoli_data/SRR13921543_1_sub.fastq
ecoli_data/SRR13921543_2.fastq
ecoli_data/SRR13921543_2_sub.fastq
ecoli_data/SRR10971019_sub_corr.fasta